* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.carousel {
  text-align: center;
}

.carousel img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.buttons {
  margin-top: 20px;
}

.buttonss{
  margin-top: 20px;
}

.buttonss button{
   padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}


.buttons button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.buttons button:hover {
  background-color: #333;
}

.buttons button:hover {
  background-color: #333;
}

#show-number{
  width: 30px;
  color: white;
  height: 50px;
  background-color: blue;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
